/* Override margins/paddings Bootstrap sets on ul/li in your birthday lists */
.upcoming-birthdays-container{
  margin-left: 300px;
}

.upcoming-birthdays-container ul,
.todays-birthday-banner ul {
  padding-left: 0;
  margin-left: 1rem; /* keep your custom indentation */
  list-style: none;
}

.upcoming-birthdays-container li {
  font-size: 1.1rem;
  margin: 15px 10px;
  font-weight: 700;
}

.todays-birthday-banner li {
  font-size: 1.2rem;
  margin: 20px 0;
  font-weight: 700;
  display: flex;
  border-radius: 50px;
  background: linear-gradient(to right, #69a9d3, #5faf9e, #ffa07a, #b84e9e, #a04b74);
}


