.home-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  color: #0c0b0b;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.app-name {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.logo-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 10px;
}

.tagline {
  font-size: 1.3rem;
  font-style: italic;
  color: black;
  font-weight: bold;
  animation: fadeSlideUp 1.5s ease-in-out forwards;
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
