/* src/Components/Layout.css */
.layout-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 0px;
  background-color: #f9f9f9; /* or whatever suits your theme */
  min-height: 100vh;
}
