.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 95vh;
  padding: 20px;
  background-color:  #41182c;
  border-right: 1px solid #ddd;
}

.sidebar-top {
  text-align: center;
  padding-top: 10px;
  
}

.logo {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.dashboard-title {
  margin-top: 8px;
  padding-top: 15px;
  font-size: 1rem;
  color: white;
}

.sidebar-middle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 50px;
  display: flex;
}

.sidebar-middle a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: color 0.3s ease;
}

.sidebar-middle a:hover {
  color: #d1d7de;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-right: 50px;
}

.sidebar-bottom button {
  padding-bottom: 40px;
  border: none;
  background:none;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.sidebar-bottom button:hover {
   color: #948585;
   background: none;
}
