.btn{
  background-color:#41182c!important ;
  color: aliceblue!important;
  border: none!important;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  /* transition: all 0.3s ease; */
}

.btn.btn-dark:hover {
  background-color: rgba(65, 24, 44, 0.1)!important;
}

.title {
  font-size: 2rem!important;
  font-weight: 600!important;
  color: #41182c!important;
}


